extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Noticia Nueva
                form(method='POST' action='/notice')
                    div.form-group
                        label(for='titulo') Titulo:
                        input#titulo.form-control(type='text' name='titulo')
                    div.form-group
                        label(for='descripcion') Descripcion:
                        input#descripcion.form-control(type='text' name='descripcion')
                    div.form-group
                        label(for='categoria') Categoria:
                        input#categoria.form-control(type='text' name='categoria')
                    button.btn.btn-primary(type='submit') Grabar
                    a.btn.btn-warning(href="/notice", style="margin:5px") Cancelar