extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Comentario nuevo
                form(method='POST' action='/comment_create')
                    input(type="hidden" name="_id" value=data._id)
                    div.form-group
                        label(for='autor') Autor:
                        input#autor.form-control(type='text' name='autor')
                    div.form-group
                        label(for='mensaje') Mensaje:
                        input#mensaje.form-control(type='text' name='mensaje')
                    div.form-group
                        label(for='fecha') Categoria:
                        input#fecha.form-control(type='date' name='fecha')
                    button.btn.btn-primary(type='submit') Guardar
                    a.btn.btn-warning(href="/notice", style="margin:5px") Cancelar