extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Editar Noticia
                form(method='POST' action='/notice/update-go?_id='+data._id)
                    div.form-group
                        label(for='titulo') Titulo:
                        input#titulo.form-control(type='text' name='titulo' value=data.titulo)
                    div.form-group
                        label(for='descripcion') Descripcion:
                        input#descripcion.form-control(type='text' name='descripcion' value=data.descripcion)
                    div.form-group
                        label(for='categoria') Categoria:
                        input#categoria.form-control(type='text' name='categoria' value=data.categoria)
                    button.btn.btn-primary(type='submit') Actualizar
                    a.btn.btn-warning(href="/notice", style="margin:5px") Cancelar